*
{
  margin:0; padding:0;
  box-sizing: border-box;
  font-family: verdana;
  text-transform: capitalize;
  text-decoration: none;
} 

body{
  min-height: 100vh;
 background-color:rgba(168, 126, 126, 0.363);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

header{
  top:0; left; 0; right:0;
  background-color:rgb(218, 182, 182);
  box-shadow: 0 5px 10px rgba(168, 126, 126, 0.363);
  padding:0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
header .logo{
  font-weight: bolder;
  font-size: 25px;
  color: #333;
}

header .navbar ul{
  list-style:none;
}

header .navbar ul li{
  position:relative;
  float: left;
}

header .navbar ul li a{
  font-size: 20px;
  padding:10px;
  color:#333;
  display: block;
}

header .navbar ul li a:hover{
  background:#333
  color:#fff;
}



.container {
    max-width: 9200px; /* Personalizzazione della larghezza massima del contenitore */
    margin: 0 auto; /* Per centrare il contenitore */
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image-container div {
    text-align: center;
    margin: 10px;
    flex: 1;
}

.image-container img {
    width: 75%; /* Impostare la larghezza delle immagini al 75% */
    height: auto;
}

/* Aggiunta spazio orizzontale tra le prime quattro immagini */
.image-container:nth-child(1) div {
    margin-right: 20%; /* Spazio orizzontale del 20% */
}


#albicocca .text {
    text-align: center;
    width: 75%; /* Larghezza del testo */
}
#albicocca .img img {
    float: left;
    width: 75%;
}
